# TeX intermediate and output files:
*.out
*.aux
*.synctex.gz

# Files with these extensions might be commit-worthy in other contexts:
Documents/**/*.pdf
Documents/**/*.toc
Documents/**/*.log

*.Cache
*.suo
*.sdf
*.opensdf
*.Designer.cs
*.user
Phrike/packages/
Phrike/**/Release/
Phrike/**/Debug/
Phrike/**/bin/
Phrike/**/obj/
Phrike/UnrealData/
Phrike/GroundControl/UnrealData/
